#dropdown-menu-2btn-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-0 .nav .link,
#dropdown-menu-2btn-0 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-0 .navbar,
#dropdown-menu-2btn-0 .dropdown-menu {
  background: #4c6972;
}
#dropdown-menu-2btn-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-0 .dropdown-menu a:hover,
#dropdown-menu-2btn-0 .dropdown-menu a:focus {
  background: #445e66;
}
#dropdown-menu-2btn-0 .navbar-toggler {
  color: #ffffff;
}
#contacts1-5 P {
  color: #ffffff;
}
#contacts1-5 UL {
  color: #ffffff;
}
#footer1-f P {
  color: #ffffff;
}
#dropdown-menu-2btn-3 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-3 .nav .link,
#dropdown-menu-2btn-3 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-3 .navbar,
#dropdown-menu-2btn-3 .dropdown-menu {
  background: #4c6972;
}
#dropdown-menu-2btn-3 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-3 .dropdown-menu a:hover,
#dropdown-menu-2btn-3 .dropdown-menu a:focus {
  background: #445e66;
}
#dropdown-menu-2btn-3 .navbar-toggler {
  color: #ffffff;
}
#contacts1-b P {
  color: #ffffff;
}
#contacts1-b UL {
  color: #ffffff;
}
#dropdown-menu-2btn-6 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-6 .nav .link,
#dropdown-menu-2btn-6 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-6 .navbar,
#dropdown-menu-2btn-6 .dropdown-menu {
  background: #4c6972;
}
#dropdown-menu-2btn-6 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-6 .dropdown-menu a:hover,
#dropdown-menu-2btn-6 .dropdown-menu a:focus {
  background: #445e66;
}
#dropdown-menu-2btn-6 .navbar-toggler {
  color: #ffffff;
}
#contacts1-7 P {
  color: #ffffff;
}
#contacts1-7 UL {
  color: #ffffff;
}
#dropdown-menu-2btn-8 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-8 .nav .link,
#dropdown-menu-2btn-8 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-8 .navbar,
#dropdown-menu-2btn-8 .dropdown-menu {
  background: #4c6972;
}
#dropdown-menu-2btn-8 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-8 .dropdown-menu a:hover,
#dropdown-menu-2btn-8 .dropdown-menu a:focus {
  background: #445e66;
}
#dropdown-menu-2btn-8 .navbar-toggler {
  color: #ffffff;
}
#content5-1e .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1e .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1e .mbr-article {
  color: #fff;
}
#content4-l .mbr-section__col .mbr-header__text {
  text-align: left;
}
#contacts1-9 P {
  color: #ffffff;
}
#contacts1-9 UL {
  color: #ffffff;
}
#dropdown-menu-2btn-a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-a .nav .link,
#dropdown-menu-2btn-a .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-a .navbar,
#dropdown-menu-2btn-a .dropdown-menu {
  background: #4c6972;
}
#dropdown-menu-2btn-a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-a .dropdown-menu a:hover,
#dropdown-menu-2btn-a .dropdown-menu a:focus {
  background: #445e66;
}
#dropdown-menu-2btn-a .navbar-toggler {
  color: #ffffff;
}
#content5-1d .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1d .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1d .mbr-article {
  color: #fff;
}
#contacts1-b P {
  color: #ffffff;
}
#contacts1-b UL {
  color: #ffffff;
}
#dropdown-menu-2btn-o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-o .nav .link,
#dropdown-menu-2btn-o .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-o .navbar,
#dropdown-menu-2btn-o .dropdown-menu {
  background: #4c6972;
}
#dropdown-menu-2btn-o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-o .dropdown-menu a:hover,
#dropdown-menu-2btn-o .dropdown-menu a:focus {
  background: #445e66;
}
#dropdown-menu-2btn-o .navbar-toggler {
  color: #ffffff;
}
#msg-box3-q .mbr-header .mbr-header__text {
  text-align: left;
}
#msg-box3-q .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-q .mbr-article {
  color: #41a85f;
}
#msg-box3-q .mbr-article P {
  color: #000000;
}
#contacts1-p P {
  color: #ffffff;
}
#contacts1-p UL {
  color: #ffffff;
}
#dropdown-menu-2btn-r .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-r .nav .link,
#dropdown-menu-2btn-r .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-r .navbar,
#dropdown-menu-2btn-r .dropdown-menu {
  background: #4c6972;
}
#dropdown-menu-2btn-r .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-r .dropdown-menu a:hover,
#dropdown-menu-2btn-r .dropdown-menu a:focus {
  background: #445e66;
}
#dropdown-menu-2btn-r .navbar-toggler {
  color: #ffffff;
}
#msg-box3-t .mbr-header .mbr-header__text {
  text-align: left;
}
#msg-box3-t .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-t .mbr-article P {
  color: #252525;
}
#contacts1-s P {
  color: #ffffff;
}
#contacts1-s UL {
  color: #ffffff;
}
#dropdown-menu-2btn-u .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-u .nav .link,
#dropdown-menu-2btn-u .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-u .navbar,
#dropdown-menu-2btn-u .dropdown-menu {
  background: #4c6972;
}
#dropdown-menu-2btn-u .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-u .dropdown-menu a:hover,
#dropdown-menu-2btn-u .dropdown-menu a:focus {
  background: #445e66;
}
#dropdown-menu-2btn-u .navbar-toggler {
  color: #ffffff;
}
#msg-box3-w .mbr-header .mbr-header__text {
  text-align: left;
}
#msg-box3-w .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-w .mbr-article P {
  color: #000000;
}
#contacts1-v P {
  color: #ffffff;
}
#contacts1-v UL {
  color: #ffffff;
}
#dropdown-menu-2btn-x .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-x .nav .link,
#dropdown-menu-2btn-x .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-x .navbar,
#dropdown-menu-2btn-x .dropdown-menu {
  background: #4c6972;
}
#dropdown-menu-2btn-x .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-x .dropdown-menu a:hover,
#dropdown-menu-2btn-x .dropdown-menu a:focus {
  background: #445e66;
}
#dropdown-menu-2btn-x .navbar-toggler {
  color: #ffffff;
}
#msg-box3-z .mbr-header .mbr-header__text {
  text-align: left;
}
#msg-box3-z .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-z .mbr-article P {
  color: #252525;
}
#contacts1-y P {
  color: #ffffff;
}
#contacts1-y UL {
  color: #ffffff;
}
#dropdown-menu-2btn-10 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-10 .nav .link,
#dropdown-menu-2btn-10 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-10 .navbar,
#dropdown-menu-2btn-10 .dropdown-menu {
  background: #4c6972;
}
#dropdown-menu-2btn-10 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-10 .dropdown-menu a:hover,
#dropdown-menu-2btn-10 .dropdown-menu a:focus {
  background: #445e66;
}
#dropdown-menu-2btn-10 .navbar-toggler {
  color: #ffffff;
}
#msg-box3-12 .mbr-header .mbr-header__text {
  text-align: left;
}
#msg-box3-12 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-12 .mbr-article P {
  color: #252525;
}
#contacts1-11 P {
  color: #ffffff;
}
#contacts1-11 UL {
  color: #ffffff;
}
#dropdown-menu-2btn-14 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-14 .nav .link,
#dropdown-menu-2btn-14 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-14 .navbar,
#dropdown-menu-2btn-14 .dropdown-menu {
  background: #4c6972;
}
#dropdown-menu-2btn-14 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-14 .dropdown-menu a:hover,
#dropdown-menu-2btn-14 .dropdown-menu a:focus {
  background: #445e66;
}
#dropdown-menu-2btn-14 .navbar-toggler {
  color: #ffffff;
}
#custom-html-18 {
  /* Type valid CSS here */
}
#custom-html-18 .my-image {
  width: 100%;
}
#contacts1-15 P {
  color: #ffffff;
}
#contacts1-15 UL {
  color: #ffffff;
}
#footer1-16 P {
  color: #ffffff;
}
#dropdown-menu-2btn-1f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1f .nav .link,
#dropdown-menu-2btn-1f .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-1f .navbar,
#dropdown-menu-2btn-1f .dropdown-menu {
  background: #4c6972;
}
#dropdown-menu-2btn-1f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1f .dropdown-menu a:hover,
#dropdown-menu-2btn-1f .dropdown-menu a:focus {
  background: #445e66;
}
#dropdown-menu-2btn-1f .navbar-toggler {
  color: #ffffff;
}
#content5-1i .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1i .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1i .mbr-article {
  color: #fff;
}
#content4-1j .mbr-section__col .mbr-header__text {
  text-align: left;
}
#contacts1-1g P {
  color: #ffffff;
}
#contacts1-1g UL {
  color: #ffffff;
}
#footer1-1h P {
  color: #ffffff;
}
